.silk-add { background-image: url(../images/icons/add.gif) !important; background-repeat: no-repeat; }
.silk-delete { background-image: url(../images/icons/delete.gif) !important; background-repeat: no-repeat; }
.silk-grid { background-image: url(../images/icons/grid.png) !important; background-repeat: no-repeat; }
.silk-hotel { background-image: url(../images/icons/hotel.png) !important; background-repeat: no-repeat; }
.silk-save { background-image: url(../images/icons/save.gif) !important; background-repeat: no-repeat; }
.silk-auto-save { background-image: url(../images/icons/auto_save.png) !important; background-repeat: no-repeat; }
.silk-batch { background-image: url(../images/icons/batch.png) !important; background-repeat: no-repeat; }
.silk-write { background-image: url(../images/icons/write.png) !important; background-repeat: no-repeat; }