<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Hotel CRUD</title>
		
		<script src="@{'/public/js/ext-3.2.1/adapter/ext/ext-base.js'}" type="text/javascript" charset="utf-8"></script>
		<script src="@{'/public/js/ext-3.2.1/ext-all.js'}" type="text/javascript" charset="utf-8"></script>
		<script src="@{'/public/js/ext-3.2.1/DwrProxy.js'}" type="text/javascript" charset="utf-8"></script>
		<script src="@{'/public/js/ext-3.2.1/ux/RowEditor.js'}" type="text/javascript" charset="utf-8"></script>
		<script src="@{'/public/js/hotel.js'}" type="text/javascript" charset="utf-8"></script>
		
		<link rel="stylesheet" type="text/css" href="@{'/public/js/ext-3.2.1/resources/css/ext-all.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/js/ext-3.2.1/resources/css/RowEditor.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/css/silk.css'}">
	</head>
	<body>
		<div class="container" style="margin-left:20px;margin-top:20px;width:600px">
			<h1>Hotel List</h1>
		    <div id="hotel-form"></div>
		    <div id="hotel-grid"></div>
		</div>
	</body>
</html>